## This file is part of Invenio.
## Copyright (C) 2010, 2011, 2012 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[sort_field_1]
name = latest first
definition = BIBREC: creation_date
washer = NOOP

[sort_field_2]
name = title
definition = MARC: 245__a
washer = sort_case_insensitive_strip_accents

[sort_field_3]
name = author
definition = FIELD: firstauthor
washer = sort_case_insensitive_strip_accents

[sort_field_4]
name = conference session
definition = MARC: 711__n,711__p
washer = sort_numerically

[sort_field_5]
name = publication date
definition = MARC: 260__c
washer = sort_dates

