<div class="row">
  <div class="col-sm-3">Show only:</div>
  <div class="col-sm-9" style="margin-left:-35px">
    <!-- Type filter-->
    <div class="row">
      <span class="titlecase type-filter"
            ng-repeat="item in vm.invenioSearchResults.aggregations.type.buckets track by $index">
        <input type="checkbox" ng-checked="handler.type.indexOf(item.key) > -1"
               ng-click="handleClick('type', item.key)" />
        {{ item.key }} ({{ item.doc_count }})
      </span>
      <span class="titlecase type-filter"
            ng-if="vm.invenioSearchResults.aggregations.type.buckets.length != 4"
            ng-repeat="type in vm.invenioSearchResults.aggregations.type.buckets | missingTypes track by $index">
        <input type="checkbox" disabled />
        {{ type }} (0)
      </span>

    </div>
    <!-- Version filter-->
    <div class="row">
      <input type="checkbox" ng-checked="!vm.invenioSearchArgs.group_by === 'version'"
           ng-click="vm.invenioSearchArgs.type=[];
           vm.invenioSearchArgs.id = (vm.invenioSearchArgs.group_by === 'identity' ? vm.version_id : vm.record_id);
           vm.invenioSearchArgs.group_by = (vm.invenioSearchArgs.group_by === 'identity' ? 'version' : 'identity');">
      Citations to this version
    </div>
  </div>
</div>
