*~
config-local.mk
openaire.kdevelop
openaire.kdevses
tags
.settings
.pydevproject
.project
*.egg-info
bibformat/dist
bibsched/dist
miscutil/dist
openaire/dist
websession/dist
webstyle/dist
bibformat/build
bibsched/build
miscutil/build
openaire/build
websession/build
webstyle/build
Makefile
Makefile.in
aclocal.m4
autom4te.cache
missing
install-sh
configure
config.sub
config.status
config.guess
config.nice
config.log
dbmigrator
inveniomigrate
