# -*- coding: utf-8 -*-
#
# This file is part of Zenodo.
# Copyright (C) 2015-2018 CERN.
#
# Zenodo is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Zenodo is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Zenodo; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

include .dockerignore
include .editorconfig
include *.rst
include *.sh
include *.json
include *.txt
include *.yml
include babel.ini
include Dockerfile
include docs/requirements.txt
include LICENSE
include pytest.ini
include zenodo/modules/theme/static/img/LICENSE
include zenodo/modules/theme/static/ping
recursive-include .tx *
recursive-include benchmarks *.py
recursive-include docker *
recursive-include docker *.yml
recursive-include docs *.bat
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include misc *.py
recursive-include misc *.rst
recursive-include scripts *.py
recursive-include scripts *.sh
recursive-include tests *.py
recursive-include zenodo *.html
recursive-include zenodo *.jpeg
recursive-include zenodo *.jpg
recursive-include zenodo *.js
recursive-include zenodo *.json
recursive-include zenodo *.png
recursive-include zenodo *.scss
recursive-include zenodo *.svg
recursive-include zenodo *.xcf
recursive-include zenodo *.xsl
recursive-include zenodo *.xml
recursive-include zenodo *.xsd
