# -*- coding: utf-8 -*-
#
## This file is part of ZENODO.
## Copyright (C) 2012, 2013 CERN.
##
## ZENODO is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## ZENODO is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with ZENODO. If not, see <http://www.gnu.org/licenses/>.
##
## In applying this licence, CERN does not waive the privileges and immunities
## granted to it by virtue of its status as an Intergovernmental Organization
## or submit itself to any jurisdiction.

include requirements*.txt AUTHORS COPYING README.md bower.json setup.cfg

recursive-include docs *
recursive-exclude docs/_build *

recursive-include zenodo/base/static *
recursive-include zenodo/base/templates *
recursive-include zenodo/base/format_elements *
recursive-include zenodo/base/output_formats *
recursive-include zenodo/base/recordext *

recursive-include zenodo/modules/*/static *
recursive-include zenodo/modules/*/templates *
recursive-include zenodo/modules/*/testsuite *
recursive-include zenodo/modules/*/recordext/* *
recursive-include zenodo/modules/*/converterext *
recursive-include zenodo/modules/*/documentext *
recursive-include zenodo/modules/*/editorext *
recursive-include zenodo/modules/*/exportext *
recursive-include zenodo/modules/*/format_elements *
recursive-include zenodo/modules/*/format_templates *
recursive-include zenodo/modules/*/output_formats *
recursive-include zenodo/modules/*/rankext *

recursive-include zenodo/legacy/resources *

recursive-exclude * *.pyc *.pyo