# -*- coding: utf-8 -*-
#
# This file is part of Zenodo.
# Copyright (C) 2015, 2016 CERN.
#
# Zenodo is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Zenodo is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Zenodo; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

# Pinned base requirements
-r requirements.pinned.txt

# Requirements not on PyPI
-e git+https://github.com/zenodo/zenodo-migrator.git#egg=zenodo-migrator

# PyPI requirements
alembic==0.9.9
amqp==2.2.2
angular-gettext-babel==0.3
arrow==0.12.1
asn1crypto==0.24.0
autosemver==0.5.3
Babel==2.5.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
billiard==3.5.0.3
binaryornot==0.4.4
bleach==2.1.3
blinker==1.4
cairocffi==0.8.0
CairoSVG==1.0.22
cchardet==2.1.1
celery==4.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
citeproc-py==0.4.0
citeproc-py-styles==0.1.1
click==6.7
configparser==3.5.0
contextlib2==0.5.5
cookiecutter==1.6.0
cryptography==2.2.2
datacite==1.0.1
dcxml==0.1.1
decorator==4.2.1
dictdiffer==0.7.0
dojson==1.4.0
dulwich==0.19.0
elasticsearch==2.4.1
elasticsearch-dsl==2.2.0
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
Flask-Admin==1.5.1
Flask-Alembic==2.0.1
Flask-Assets==0.12
Flask-BabelEx==0.9.3
Flask-Breadcrumbs==0.4.0
Flask-Caching==1.3.3
Flask-CeleryExt==0.3.0
Flask-Collect==1.2.2
Flask-Cors==3.0.3
Flask-DebugToolbar==0.10.1
Flask-IIIF==0.3.2
Flask-KVSession==0.6.2
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Menu==0.7.0
Flask-OAuthlib==0.9.4
Flask-Principal==0.4.0
Flask-Security==3.0.0
flask-shell-ipython==0.3.0
Flask-SQLAlchemy==2.3.2
flask-talisman==0.5.0
Flask-WTF==0.14.2
fs==0.5.4
ftfy==4.4.3
funcsigs==1.0.2
future==0.16.0
github3.py==1.0.0a4
html5lib==1.0.1
httpretty==0.8.14
humanize==0.5.1
idna==2.6
IDUtils==1.0.0
infinity==1.4
intervals==0.8.1
invenio-access==1.0.0
invenio-accounts==1.0.0
invenio-admin==1.0.0
invenio-app==1.0.0
invenio-assets==1.0.0
invenio-base==1.0.0
invenio-cache==1.0.0
invenio-celery==1.0.0
invenio-communities==1.0.0a19
invenio-config==1.0.0
invenio-csl-rest==1.0.0a1
invenio-db==1.0.0
invenio-deposit==1.0.0a9
invenio-files-rest==1.0.0a22
invenio-formatter==1.0.0
invenio-github==1.0.0a15
invenio-i18n==1.0.0
invenio-iiif==1.0.0a2
invenio-indexer==1.0.0
invenio-jsonschemas==1.0.0
invenio-logging==1.0.0
invenio-mail==1.0.0
invenio-marc21==1.0.0a8
invenio-migrator==1.0.0a9
invenio-oaiserver==1.0.0
invenio-oauth2server==1.0.0
invenio-oauthclient==1.0.0
invenio-openaire==1.0.0a11
invenio-opendefinition==1.0.0a7
invenio-pidrelations==1.0.0a4
invenio-pidstore==1.0.0
invenio-previewer==1.0.0a11
invenio-records==1.0.0
invenio-records-files==1.0.0a10
invenio-records-rest==1.0.1
invenio-records-ui==1.0.0
invenio-rest==1.0.0
invenio-search==1.0.0
invenio-search-ui==1.0.1
invenio-sipstore==1.0.0a7
invenio-theme==1.0.0
invenio-userprofiles==1.0.0
invenio-webhooks==1.0.0a4
ipaddr==2.2.0
ipaddress==1.0.19
ipython==5.5.0
ipython-genutils==0.2.0
isbnid-fork==0.5.2
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
jsmin==2.2.2
jsonpatch==1.21
jsonpointer==2.0
jsonref==0.1
jsonresolver==0.2.1
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kombu==4.1.0
limits==1.3
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.0
maxminddb==1.3.0
maxminddb-geolite2==2018.308
mistune==0.8.3
mock==2.0.0
msgpack-python==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.4.4
node-semver==0.1.1
oauthlib==2.0.7
pandocfilters==1.4.2
passlib==1.7.1
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
pluggy==0.6.0
poyo==0.4.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
pyasn1==0.4.2
pycountry==18.2.23
pycparser==2.18
Pygments==2.2.0
PyJWT==1.6.1
pyOpenSSL==17.5.0
python-dateutil==2.7.2
python-editor==1.0.3
python-slugify==1.2.5
pytz==2018.3
pyzmq==17.0.0
raven==6.6.0
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.7
Sickle==0.6.2
simplegeneric==0.8.1
simplejson==3.13.2
simplekv==0.11.8
singledispatch==3.4.0.3
six==1.11.0
speaklater==1.3
SQLAlchemy==1.2.5
SQLAlchemy-Continuum==1.3.4
SQLAlchemy-Utils==0.33.1
statsd==3.2.2
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
ua-parser==0.7.3
Unidecode==1.0.22
uritemplate.py==1.0.1
uritools==2.1.0
urllib3==1.22
uWSGI==2.0.17
uwsgitop==0.10
validators==0.12.1
vine==1.1.4
wcwidth==0.1.7
webargs==2.0.0
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.4.1
wsgi-statsd==0.3.1
WTForms==2.1
WTForms-Alchemy==0.16.6
WTForms-Components==0.10.3
zenodo-accessrequests==1.0.0a2
