# -*- coding: utf-8 -*-
#
# This file is part of Zenodo.
# Copyright (C) 2015, 2016 CERN.
#
# Zenodo is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Zenodo is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Zenodo; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

# Pinned base requirements
-r requirements.pinned.txt

# Requirements not on PyPI
-e git+https://github.com/lnielsen/invenio-migrator.git@#egg=invenio-migrator
-e git+https://github.com/zenodo/zenodo-migrator.git#egg=zenodo-migrator

# PyPI requirements
alabaster==0.7.9
alembic==0.8.8
amqp==1.4.9
anyjson==0.3.3
apipkg==1.4
arrow==0.8.0
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
binaryornot==0.4.0
bleach==1.5.0
blinker==1.4
cairocffi==0.7.2
CairoSVG==1.0.22
cchardet==1.1.1
celery==3.1.25
cffi==1.9.1
chardet==2.3.0
check-manifest==0.34
citeproc-py==0.3.0
citeproc-py-styles==0.1.0
click==6.6
configparser==3.5.0
cookiecutter==1.4.0
coverage==4.2
cryptography==1.5.3
datacite==0.3.0
dcxml==0.1.0
decorator==4.0.10
dictdiffer==0.6.0
docutils==0.12
dojson==1.2.1
elasticsearch==2.4.0
elasticsearch-dsl==2.2.0
entrypoints==0.2.2
execnet==1.4.1
Flask==0.11.1
Flask-Admin==1.4.2
Flask-Alembic==2.0.1
Flask-Assets==0.12
Flask-BabelEx==0.9.3
Flask-Breadcrumbs==0.4.0
Flask-Cache==0.13.1
Flask-CeleryExt==0.2.2
Flask-Collect==1.2.2
Flask-Cors==3.0.2
Flask-DebugToolbar==0.10.0
Flask-Konch==1.1.0
Flask-KVSession==0.6.2
Flask-Limiter==0.9.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Menu==0.5.1
Flask-OAuthlib==0.9.3
Flask-Principal==0.4.0
Flask-Security-Fork==1.8.1
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
fs==0.5.4
ftfy==4.3.1
funcsigs==1.0.2
future==0.16.0
github3.py==1.0.0a4
html5lib==0.9999999
humanize==0.5.1
idna==2.1
IDUtils==0.2.3
imagesize==0.7.1
infinity==1.4
intervals==0.8.0
invenio-access==1.0.0a11
invenio-accounts==1.0.0b1
invenio-admin==1.0.0a3
invenio-assets==1.0.0b6
invenio-base==1.0.0a14
invenio-celery==1.0.0b1
invenio-communities==1.0.0a14
invenio-config==1.0.0b1
invenio-csl-rest==1.0.0a1
invenio-db==1.0.0b3
invenio-deposit==1.0.0a8
invenio-files-rest==1.0.0a14.post2
invenio-formatter==1.0.0b3
invenio-github==1.0.0a11
invenio-i18n==1.0.0b3
invenio-indexer==1.0.0a8
invenio-jsonschemas==1.0.0a3
invenio-logging==1.0.0a3
invenio-mail==1.0.0a5
invenio-marc21==1.0.0a3
invenio-oaiserver==1.0.0a12
invenio-oauth2server==1.0.0a15
invenio-oauthclient==1.0.0a12
invenio-openaire==1.0.0a7
invenio-opendefinition==1.0.0a3
invenio-pages==1.0.0a3
invenio-pidstore==1.0.0b1
invenio-pidrelations==1.0.0a3
invenio-previewer==1.0.0a10
invenio-query-parser==0.6.0
invenio-records==1.0.0b1
invenio-records-files==1.0.0a8
invenio-records-rest==1.0.0a17
invenio-records-ui==1.0.0a8
invenio-rest==1.0.0a10
invenio-search==1.0.0a9
invenio-search-ui==1.0.0a5
invenio-sipstore==1.0.0a3
invenio-theme==1.0.0a14
invenio-userprofiles==1.0.0a9
invenio-webhooks==1.0.0a4
ipython==5.1.0
ipython-genutils==0.1.0
isbnid==0.4.2.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.6
jinja2-time==0.2.0
jsmin==2.2.1
jsonpatch==1.14
jsonpointer==1.10
jsonref==0.1
jsonresolver==0.2.1
jsonschema==2.5.1
jupyter-core==4.2.0
kombu==3.0.37
Konch==2.2.0
limits==1.2.0
lxml==3.6.4
Mako==1.0.6
MarkupSafe==0.23
mistune==0.7.3
mock==2.0.0
msgpack-python==0.4.8
nbconvert==4.2.0
nbformat==4.1.0
ndg-httpsclient==0.4.2
node-semver==0.1.1
oauthlib==1.1.2
ordereddict==1.1
passlib==1.6.5
pathlib2==2.1.0
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.4.2
pluggy==0.4.0
poyo==0.4.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycparser==2.17
pydocstyle==1.1.1
Pygments==2.1.3
pyOpenSSL==16.2.0
pyPEG2==2.15.2
pytest==3.0.4
pytest-cache==1.0
pytest-cov==2.4.0
pytest-flask==0.10.0
pytest-pep8==1.0.6
python-dateutil==2.6.0
python-editor==1.0.1
python-slugify==1.2.1
pytz==2016.7
raven==5.1.0
redis==2.10.5
requests==2.12.1
requests-oauthlib==0.7.0
selenium==2.52.0
Sickle==0.6.1
simplegeneric==0.8.1
simplejson==3.10.0
simplekv==0.10.0
six==1.10.0
snowballstemmer==1.2.1
speaklater==1.3
Sphinx==1.4.4
SQLAlchemy==1.1.4
SQLAlchemy-Continuum==1.2.4
SQLAlchemy-Utils==0.32.11
statsd==3.2.1
traitlets==4.3.1
Unidecode==0.4.19
uritemplate.py==1.0.1
uritools==2.0.0
urllib3==1.19.1
uwsgi==2.0.14
uwsgitop==0.9
validators==0.11.1
vine==1.1.3
wcwidth==0.1.7
webargs==1.4.0
webassets==0.12.1
Werkzeug==0.11.11
whichcraft==0.4.0
wsgi-statsd==0.3.1
WTForms==2.1
WTForms-Alchemy==0.16.1
WTForms-Components==0.10.0
zenodo-accessrequests==1.0.0a2
