<div id="{{field_id}}" class="well pluploader" id="filebox">
<span class="pull-right"><small id="upload_speed" class="muted" style="margin-right: 10px;"></small>&nbsp;<input type="dropbox-chooser" style="visibility: hidden;" data-multiselect="true" data-link-type="direct" id="db-chooser"/> <small class="muted">or</small> <a class="btn btn-default btn-xs" id="pickfiles">Choose files...</a>&nbsp;<a class="btn btn-success btn-xs disabled" id="uploadfiles"><i class="icon-upload icon-white"></i> Start upload</a>&nbsp;<a class="btn btn-danger btn-mini" style="display:none;" id="stopupload"><i class="icon-stop icon-white"></i> Stop upload</a>
</span>
<h4>Files</h4>
<table class="table table-striped" id="file-table">
<thead>
    <tr><th>Filename</th><th>Size</th><td></td><td></td></tr>
</thead>
<tbody id="filelist">
</tbody>
</table>
<p class="text-muted" align="center"><small>Drag and drop files to upload</small></p>
<div id="upload-errors"></div>
</div>
