{% extends "page.html" %}

{% block title %}{% endblock %}

{% block javascript %}
{{super()}}
{% include "openaire_uploader.html" %}
{% endblock %}

{% block body %}
<div class="row" id="file_container">
    <div class="span8">
        <div class="hero-unit" id="upload">
            <h1>Upload</h1>
            {% if usercollection %}<h4>{{usercollection.title}}</h4>{% endif %}
            <p>Share your research &mdash; all research outputs from across all fields of
            science are welcome.</p>
            <p>
                <div class="row-fluid">
                    <div id="local" class="offset1 span3"><a class="btn btn-large" id="pickfiles">Choose files...</a><br /><small class="muted">Maximum file size 2GB</small></div>
                    <div id="or" class="offset1 span2">&mdash; OR &mdash;</div>
                    <div id="dropbox" class="offset1 span3"><form id="dropbox-upload-form" action="{{dropbox_upload_url}}?ln=en" method="POST">
                        <input type="dropbox-chooser" name="fileurl" style="visibility: hidden;" data-link-type="direct" id="db-chooser"/>
                    </form></div>
                </div>
            </p>
        </div>
        <div id="selected-files" class="hide">
            <hr />
            <a class="btn btn-success pull-right" id="uploadfiles"><i class="icon-upload icon-white"></i> Start upload</a>
            <h3>Selected files</h3>
            <table class="table table-striped" id="filelist">
            </table>
            <div id="upload-errors"></div>
        </div>
    </div>
    <div class="span4">
        {% include "openaire_myresearch.html" %}
    </div>
</div>
{% endblock %}