<div class="well">
{% if myresearch %}
<h2>My uploads</h2>
{% if not myresearch.unsubmitted and not myresearch.submitted %}
<p class="muted">You currently have no uploads.</p>
{% endif %}
{% if myresearch.unsubmitted %}
<h4>Unsubmitted</h4>
<table class="table table-striped">
{% for pub in myresearch.unsubmitted %}
<tr>
    <td><a href="{{url_for('deposit.edit')}}/{{pub.id}}/">{{pub.title if pub.title else 'Untitled'}}</a></td><td>{{pub.timestamp|timefmt}}</td><td><a href="{{url_for('deposit.edit')}}/{{pub.id}}/delete/" class="rmlink" rel="tooltip" title="Delete upload"><i class="icon-trash"></i></a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if myresearch.submitted %}
<h4>Submitted</h4>
<table class="table table-striped">
{% for pub in myresearch.submitted|reverse %}
<tr>
<td><a href="{{url_for('deposit.edit')}}/{{pub.id}}/">{{pub.title if pub.title else 'Untitled'}}</a></td><td>{{pub.timestamp|timefmt}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endif %}
</div>