{% extends "page.html" %}

{% from "_formhelpers.html" import render_field with context %}

{% block title %}{% endblock %}

{% macro form_action_bar() -%}
<div class="well">
    <a class="btn btn-danger pull-left" href="{{url_for('deposit.edit')}}/{{pub.publicationid}}/delete/"><i class="icon-trash  icon-white"></i> Delete</a>
    <span class="pull-right">
        <span class="loader"><img src="{{ url_for('static', filename='css/images/ajax-loader.gif' ) }}" /></span>
        <span class="state-success hide muted">Form saved <i class="icon-ok"></i> </span>
        <span class="state-failure hide text-warning">Form saved, but some fields had errors <i class="icon-warning-sign"></i> </span>
        <span class="state-danger hide text-error">Form not saved! Errors while saving the form <i class="icon-warning-sign"></i> </span>
        <button class="btn edit-form-save" data-toggle="tooltip" title="{{_('Press "Save" to save your upload for editing later, as many times you like.')}}" ><i class="icon-file"></i> Save</button>
        <button data-target="#submitModal" data-toggle="modal" role="button" data-toggle="tooltip" title="{{_('Press "Submit" to finalize and make your upload public (further editing afterwards is  currently not possible).')}}" class="btn btn-primary"><i class="icon-ok  icon-white"></i> Submit</button>
    </span>
    <span class="clearfix"></span>
</div>
{%- endmacro %}

{% block body %}
{% if is_editable %}
<!-- Modal -->
<div id="submitModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are you sure you want to submit?</h3>
  </div>
  <div class="modal-body">
    <ul>
        <li>Editing is only possible via submitting changes to <a href="{{config.CFG_SITE_SUPPORT_EMAIL}}">{{config.CFG_SITE_SUPPORT_EMAIL}}</a>*.</li>
        <li>Your upload will be <strong>publicly available</strong> shortly after you submit &mdash; uploaded files are only publicly available if you have chosen Open Access and/or Embargoed Access (subject to the embargo date).</li>
    </ul>
    <p><small class="muted">* We are working on making editing possible after you have submitted, and plan to launch the feature in June.</small></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary edit-form-submit">Submit</button>
  </div>
</div>
{% endif %}
<div class="row">
    <div id="file_container" class="span8 form-feedback-warning">
        {% if not is_editable %}
        <div class="well" style="text-align: center;">
            Public URL: <a href="{{config.CFG_SITE_URL}}/record/{{recid}}">{{config.CFG_SITE_URL}}/record/{{recid}}</a>
        </div>
        <div class="alert alert-info">
            <p><strong><i class="icon-ban-circle"></i> Editing:</strong> This upload can no longer be edited, as it has been submitted. If you wish to make changes, please email us at <a href="mailto:{{config.CFG_SITE_SUPPORT_EMAIL}}">{{config.CFG_SITE_SUPPORT_EMAIL}}</a>. We are working on allowing you to edit your submissions and plan to release the feature in June.</p>
        </div>

        {% else %}
        <div id="form_message">{% if form_message %}<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>{{form_message}}</div>{% endif %}</div>
        {{ form_action_bar() }}
        {% endif %}
        {% if not is_editable %}
        {{record_hd|safe}}
        {{record_hdinfo|safe}}
        {% else %}
        <h1>New upload</h1>
        <p class="muted"><small>Instructions: (i) Press "Save" to save your upload for editing later, as many times you like. (ii) When ready, press "Submit" to finalize and make your upload public (further editing afterwards is currently not possible).</small></p>
        <form action="." method="POST" id="edit_form" class="form-horizontal">
        <div class="accordion">
        {%- for title, fieldnames, conf in form.field_sets %}
            <div class="accordion-group">
                {%- if title %}
                <div class="accordion-heading">
                    <span class="accordion-toggle muted pull-right">{{conf.state}}</span>
                    <a class="accordion-toggle" data-toggle="collapse" data-idx="{{loop.index}}" href="#collapse{{loop.index}}">{{title}} <b class="caret"></b></a>
                </div>
                {%- endif %}
                <div id="collapse{{loop.index}}" class="accordion-body collapse{% if conf.classes %} {{conf.classes}}{% endif %}">
                    <div class="accordion-inner">
                        {%- if conf.description %}
                        <p>{{ conf.description|urlize }}</p>
                        {%- endif %}
                        <fieldset>
                        {%- for f in fieldnames %}
                            {% if f == '-' %}<hr />
                            {%- else %}
                            {%- set field = form.get_field_by_name(f) %}
                            {%- if f == 'upload_type' %}
                            <div class="upload-type" align="center">
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                {{field}}
                                </div>
                            </div>
                            {% if field.errors %}
                                <div class="alert alert-error" id="error-{{ field.name }}">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br />{% endif %}{% endfor %}</div>
                            {% else %}
                                <div class="alert alert-error" id="error-{{ field.name }}" style="display:none;"></div>
                            {% endif %}
                            {%- else %}
                            <div class="control-group field-{{ field.name }}{% if field.errors %} error{% endif %}">
                                <label class="control-label{{' required' if field.required else ''}}" for="{{field.label.field_id}}">
                                    {%- if field._icon_html or form.get_field_icon(f) %}
                                    <span class="" style="margin-right: 5px; margin-top: 5px;">
                                        {% if form.get_field_icon(f) %}<i class="icon-{{ form.get_field_icon(f) }}"></i>{% else %}{{ field._icon_html|safe }}{% endif %}
                                    </span>
                                    {%- endif %}
                                    {{ field.label.text }}
                                </label>
                                <div class="controls">
                                    {% if form.has_autocomplete(field) %}
                                    <div id="{{f}}_values" class="span5 tag-values"><ul class="unstyled">{% if f == "funding_source" %}{% for tag in field.get_tags() %}<li class="alert alert-info tag" data-tag-id="{{tag.grant_agreement_number}}"><button type="button" class="close" data-dismiss="alert">&times;</button>{{tag.label}}</li>{% endfor %}{% endif %}
                                        {% if f == "collections" %}{% for tag in field.get_tags() %}<li class="alert alert-info tag" data-tag-id="{{tag.value}}"><button type="button" class="close" data-dismiss="alert">&times;</button>{{tag.label}}</li>{% endfor %}{% endif %}</ul></div>
                                    {% endif %}
                                    {%- if field.type == "Date" %}
                                        {{ field(class_="span2 " + field.short_name, placeholder=form.get_field_placeholder(f)) }}
                                    {%- else %}
                                        {{ field(class_="span5 " + field.short_name, placeholder=form.get_field_placeholder(f)) }}
                                    {%- endif %}
                                    {% if field.description %}<p class="muted field-desc"><small>{{field.description|urlize}}</small></p>{% endif %}
                                    {% if f == 'doi' %}
                                    <button class="btn btn-mini" type="button" id="doi-button" data-toggle="tooltip" title="{{_('Pre-reserve a Digital Object Identifier for your upload. This allows you know the DOI before you submit your upload, and can thus include it in e.g. publications. The DOI is not finally registered until submit your upload.')}}" ><i class="icon-barcode"></i> Pre-reserve DOI</button> <span class="loader"><img src="{{ url_for('static', filename='css/images/ajax-loader.gif' ) }}" /></span>
                                    {% endif %}
                                    {% if field.errors %}
                                        <span class="alert alert-error help-inline" id="error-{{ field.name }}">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br />{% endif %}{% endfor %}</span>
                                    {% else %}
                                        <span class="alert alert-error help-inline" id="error-{{ field.name }}" style="display:none;"></span>
                                    {% endif %}
                                </div>
                            </div>
                            {%- endif %}
                            {%- endif %}
                        {%- endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
        {%- endfor %}
        </div>
        </form>
        {{ form_action_bar() }}
        {% endif %}

        {% if pub.fulltexts %}
        <div id="selected-files" class="well" >
        {% if is_editable %}<span class="pull-right"><a class="btn btn-mini" id="pickfiles">Choose files...</a> <a class="btn btn-success btn-mini disabled" id="uploadfiles"><i class="icon-upload icon-white"></i> Start upload</a></span>{% endif %}
        <h4>Files</h4>
        <table class="table table-striped" id="filelist">
        <thead>
            <tr><th>Filename</th><th>Size</th><td></td><td></td></tr>
        </thead>
        <tbody>
            {% for file_id, bdf in pub.fulltexts.items() %}
            <tr><td><a href="{{url_for('deposit.getfile')}}/{{pub.publicationid}}/{{file_id}}">{{bdf.get_full_name()}}</a></td><td>{{bdf.get_size()|filesizeformat}}</td><td width="30%"></td>{% if is_editable %}<td><a href="{{url_for('deposit.getfile')}}/{{pub.publicationid}}/{{file_id}}/delete/" class="rmlink" rel="tooltip" title="Delete file"><i class="icon-trash"></i></a>{% endif %}</td></tr>
            {% endfor %}
        </tbody>
        </table>
        <div id="upload-errors"></div>
        </div>
        {% endif %}
    </div>
    <div class="span4">
        {% include "openaire_myresearch.html" %}
    </div>
</div>
{% endblock %}

{% block javascript %}
{% if is_editable %}
{% include "openaire_uploader.html" %}
<script type="text/javascript">
$(document).ready(function() {
    // Save/Submit button actions
    webdeposit_save_button('.edit-form-save', '#edit_form', '#form_message', '{{url_for('deposit.edit')}}/{{pub.publicationid}}/save/')
    webdeposit_submit_button('.edit-form-submit', '#edit_form')
    // AJAX Error check
    webdeposit_input_error_check('#edit_form input, #edit_form textarea, #edit_form select', '{{ url_for("deposit.check") }}')
    {%- for field in form %}
    {%- if form.has_field_state_mapping(field) %}
    // Disable/enable fields based on mapping
    var {{field.short_name}}_mapping = {{form.get_field_state_mapping(field)|tojson|safe}}
    webdeposit_field_enabler('input[name={{field.short_name}}]', {{field.short_name}}_mapping, {{ 'true' if field.short_name == 'upload_type' else 'false' }} );
    {%- endif %}
    {%- if form.has_autocomplete(field) %}
    {%- if "<textarea" in field.__html__() %}
    webdeposit_autocomplete_textarea('{{field.short_name}}', '{{ url_for('deposit.autocomplete') }}?field={{field.short_name}}&limit=10');
    {%- else %}
    webdeposit_autocomplete('{{field.short_name}}', '{{ url_for('deposit.autocomplete') }}?field={{field.short_name}}&limit=10', {{ 'true' if field.short_name == 'funding_source' or field.short_name == 'collections' else 'false' }});
    {%- endif %}
    {%- endif %}
    {%- endfor %}
    // Date picker
    webdeposit_datepicker('#publication_date');
    webdeposit_datepicker('#embargo_date');
    webdeposit_reservedoi_button('#doi-button', "#doi", '{{url_for('deposit.edit')}}/{{pub.publicationid}}/reserve-doi/');
});
</script>
{% endif %}
{% endblock %}