<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="72dpqrjvx71mqyu"></script>
<script type="text/javascript">
document.getElementById("db-chooser").addEventListener("DbxChooserSuccess",
    function(e) {
        $("#dropbox-upload-form").submit()
    }, false);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plupload/plupload.full.js')}}"></script>
<script type="text/javascript">
// Custom example logic
{% if pub.publicationid -%}
var pubid = '{{ pub.publicationid }}'
{% else -%}
var pubid = null
{% endif -%}
var uploader = null

$(function() {
    uploader = new plupload.Uploader({
        runtimes : 'gears,html5,flash,silverlight',
        browse_button : 'pickfiles',
        container : 'file_container',
        max_file_size : '1024mb',
        url : '{{upload_url}}',
        flash_swf_url : '{{ url_for('static',filename='js/plupload/plupload.flash.swf')}}',
        silverlight_xap_url : '{{ url_for('static',filename='js/plupload/plupload.silverlight.xap')}}',
    });

    $('#uploadfiles').click(function(e) {
        uploader.start();
        e.preventDefault();
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
        $('#selected-files').show()
        $('#uploadfiles').removeClass("disabled");
        $.each(files, function(i, file) {
            $('#filelist').append(
                '<tr id="' + file.id + '"><td>' + file.name + '</td><td>' + plupload.formatSize(file.size)
                + '</td><td width="30%"><div class="progress progress-striped active hide"><div class="bar" style="width: 0%;"></div></div>' + '</td><td><a id="' + file.id + '_rm" class="rmlink"><i class="icon-trash"></i></a></td></tr>');
            $('#'+file.id+'_rm').click(function(e){
                uploader.removeFile(file);
            });
        });
        up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FilesRemoved', function(up, files) {
        $.each(files, function(i, file) {
            $('#filelist #'+file.id).hide();
        });
        if(uploader.files.length == 0){
            $('#uploadfiles').addClass("disabled");
        }
    });

    uploader.bind('UploadProgress', function(up, file) {
        $('#' + file.id + " .progress").show();
        $('#' + file.id + " .bar").css('width', file.percent + "%");
    });

    uploader.bind('UploadFile', function(up, file) {
        $('#' + file.id + "_rm").hide();
    });

    uploader.bind('UploadComplete', function(up, files) {
        if(pubid){
            edit_url = '{{config.CFG_SITE_SECURE_URL}}{{url_for('deposit.edit')}}/' + pubid + '/';
            if( window.location != edit_url ){
                window.location = edit_url;
            }
        }
        $('#uploadfiles').addClass("disabled");
    });

    uploader.bind('Error', function(up, err) {
        if (err.file){
            $('#' + err.file.id + " .progress").removeClass("progress-striped").addClass("progress-danger");
            $('#upload-errors').append('<div class="alert alert-error"><strong>Error:</strong> Could not upload ' + err.file.name +" due to " + err.message + "</div>");
        } else {
            $('#upload-errors').append('<div class="alert alert-error"><strong>Error:</strong> ' + err.message + "</div>");
        }
        $('#uploadfiles').addClass("disabled");
        up.refresh(); // Reposition Flash/Silverlight
    });

    uploader.bind('FileUploaded', function(up, file, response) {
        console.log("Done " + file.name)
        $('#' + file.id + " .progress").removeClass("progress-striped");
        $('#' + file.id + " .bar").css('width', "100%");
        if(response.status==200){
            if(!pubid){
                pubid = response.response;
                up.settings.url = up.settings.url + "?pub_id=" + pubid
            }
        }
    });
});
</script>