{% extends "page.html" %}

{% block title %}{% endblock %}

{% block javascript %}
{{super()}}
{% endblock %}

{% block body %}
<div class="row" id="file_container">
    <div class="span8">
        <h1>User Collections</h1>
        <p class="muted">Collections created and curated by {{config.CFG_SITE_NAME}} users</p>

        {%- for row in usercollections|batch(2) %}
        <div class="row">
            {%- for obj in row %}{% if obj %}
        <div class="span4"><div class="well"><ul class="pager pull-right" style="margin-top: 10px"><li><a href="{{obj.collection_url}}">View</a></li></ul>
        <h4>{{obj.title}}</h4><br /><p>{{obj.description[:100]}} {{ '' if obj.description|length < 100 else '...'}}</p><small class="muted">Curated by: {{obj.owner.nickname}}</small></div></div>{% endif %}
            {%- endfor %}
        </div>
        {%- endfor %}

    </div>
    <div class="span4">
        {% include "usercollection_mycollections.html" %}
    </div>
</div>
{% endblock %}