<div class="well">
{% if current_user.is_authenticated() %}
<a href="{{url_for('.new')}}" class="btn btn-primary pull-right"><i class="icon-plus-sign"></i> New</a>
{% if mycollections %}
<h2>My collections</h2>
<table class="table table-striped">
{% for obj in mycollections %}
<tr>
    <td><a href="{{url_for('.edit', usercollection_id=obj.id)}}">{{obj.title if obj.title else 'Untitled'}}</a><br ><small class="muted">Identifier: {{obj.id}}</small></td>
    <td>
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{obj.collection_url}}"><i class="icon-eye-open"></i> View</a></li>
            <li><a href="{{obj.collection_provisional_url}}"><i class="icon-check"></i> Curate</a></li>
            <li><a href="{{url_for('.edit', usercollection_id=obj.id)}}"><i class="icon-pencil"></i> Edit</a></li>
          </ul>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p class="muted">You currently have no collections.</p>

<h4><strong>Want your own collection?</strong></h4>
<p>It's easy. Just click the button to get started. </p>
<ul>
    <li><strong>Curate</strong> &mdash; accept/reject what goes in your collection.</li>
    <li><strong>Export</strong> &mdash; your collection is automatically exported via OAI-PMH</li>
    <li><strong>Upload</strong> &mdash; get custom upload link to send to people</li>
</ul>
{% endif %}
{% else %}
<a href="/youraccount/register" class="btn btn-warning btn-large signup pull-right">Sign Up</a>
<h4><strong>Want your own collection?</strong></h4>
<p>It's easy. Just sign-up and create a new collection. </p>
<ul>
    <li><strong>Curate</strong> &mdash; accept/reject what goes in your collection.</li>
    <li><strong>Export</strong> &mdash; your collection is automatically exported via OAI-PMH</li>
    <li><strong>Upload</strong> &mdash; get custom upload link to send to people</li>
</ul>
{% endif %}
</div>