{% extends "page.html" %}

{% block title %}{% endblock %}

{% block javascript %}
{{super()}}
{% endblock %}

{% block body %}
<div class="row" id="file_container">
    <div class="span8">
        <h1><i class="icon-group"></i> Community Collections</h1>
        <p class="muted">Communities created and curated by {{config.CFG_SITE_NAME}} users</p>

        {%- for row in usercollections|batch(2) %}
        <div class="row">
            {%- for obj in row %}{% if obj %}
        <div class="span4"><div class="well">
        <ul class="pager pull-right" style="margin-top: 10px">
            <li><a href="{{obj.collection_url}}">View</a></li>
            {% if obj.id_user == current_user.id %}<li><a href="{{obj.collection_provisional_url}}">Curate</a></li>{% endif %}
        </ul>
        <h4>{{obj.title}}</h4><br /><p>{{obj.description|striptags|truncate}}</p><small class="muted">Curated by: {{obj.owner.nickname}}</small></div></div>{% endif %}
            {%- endfor %}
        </div>
        {%- endfor %}

    </div>
    <div class="span4">
        {% include "usercollection_mycollections.html" %}
    </div>
</div>
{% endblock %}