{% extends "page.html" %}

{% block title %}{% endblock %}

{% block javascript %}
{{super()}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>{{usercollection.title}}</h1>
    </div>
</div>
<div class="row" id="file_container">
    <div class="span8">
        {{page|safe}}
    </div>
    <div class="span4">
        <div class="well">{% include "usercollection_portalbox_main.html" %}</div>
        <div class="well">{% include "usercollection_portalbox_upload.html" %}</div>
    </div>
</div>
{% endblock %}