<ul>
  <li><strong>{{_('Research. Shared.')}}</strong> &mdash; {{_('all research outputs from across all fields of science are welcome!')}}</li>
  <li><strong>{{_('Citeable. Discoverable.')}}</strong> &mdash; {{_('uploads gets a Digital Object Identifier (DOI) to make them easily and uniquely citeable.')}}</li>
  <li><strong>{{_('Community Collections')}}</strong> &mdash; {{_('accept or reject uploads to your own community collections (e.g workshops, EU projects or your complete own digital repository).')}}</li>
  <li><strong>{{_('Funding')}}</strong> &mdash; {{_('integrated in reporting lines for research funded by the European Commission via OpenAIRE.')}}</li>
  <li><strong>{{_('Flexible licensing')}}</strong> &mdash; {{_('because not everything is under Creative Commons.')}}</li>
  <li><strong>{{_('Safe')}}</strong> &mdash; {{_("your research output is stored safely for the future in same cloud infrastructure as research data from CERN's Large Hadron Collider.")}}</li>
  <li><strong>{{_('DropBox integration')}}</strong> &mdash; {{_('upload files straight from your DropBox.')}}</li>
</ul>
<p>{% trans link='/features' %}Read more about <a href="{{link}}">features and benefits</a>.{% endtrans %}</p>
