<ul>
  <li><strong>{{_('Safe')}}</strong> &mdash; {{_('your research is stored safely for the future in CERN’s Data Centre for as long as CERN exists.')}}</li>
  <li><strong>{{_('Trusted')}}</strong> &mdash; {{_('built and operated by CERN and OpenAIRE to ensure that everyone can join in Open Science.')}}</li>
  <li><strong>{{_('Citeable')}}</strong> &mdash; {{_('every upload is assigned a Digital Object Identifier (DOI), to make them citable and trackable.')}}</li>
  <li><strong>{{_('No waiting time')}}</strong> &mdash; {{_('Uploads are made available online as soon as you hit publish, and your DOI is registered within seconds.')}}</li>
  <li><strong>{{_('Open or closed')}}</strong> &mdash; {{_('Share e.g. anonymized clinical trial data with only medical professionals via our restricted access mode.')}}</li>
  <li><strong>{{_('Versioning')}}</strong> &mdash; {{_("Easily update your dataset with our versioning feature.")}}</li>
  <li><strong>{{_('GitHub integration')}}</strong> &mdash; {{_("Easily preserve your GitHub repository in Zenodo.")}}</li>
  <li><strong>{{_('Usage statistics')}}</strong> &mdash; {{_("All uploads display standards compliant usage statistics")}}</li>
</ul>
