{% extends "page.html" %}

{% from "_formhelpers.html" import render_field with context %}

{% block title %}{% endblock %}

{% block body %}
<div class="row">
    <div id="file_container" class="span8">
        <h1>{{ _("Delete community") }}</h1>
        <form action="." method="POST" id="edit_form" class="form-horizontal">
            <div class="alert alert-warning">
                <a href="{{url_for('.edit', usercollection_id=usercollection.id)}}" class="btn btn-large btn-primary"><i class="icon-trash  icon-white"></i> No, thanks</a>
                <button class="btn btn-large btn-danger"><i class="icon-trash  icon-white"></i> Confirm</button>
            </div>
        </form>
    </div>
    <div class="span4">
        {% include "usercollection_mycollections.html" %}
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}