{% macro curation_buttons(bfo, ucoll_id, btnsize='', show_state=True, type='') %}
    {%- set recid = bfo.control_field('001') -%}
    {%- set caction = recid|curation_action(ucoll_id) -%}
    {%- set state = bfo|usercollection_state(ucoll_id) -%}
    {%- if state == 'provisional' or show_state -%}
        {%- if caction or (state != 'provisional' and show_state) -%}
            {%- if caction == 'accept' or state == 'accepted' -%}
                {%- set accept_state = "disabled btn-success" -%}
                {%- set reject_state = "disabled" -%}
            {%- endif -%}
            {%- if caction == 'reject' or caction == 'remove' or state == 'rejected' -%}
                {%- set accept_state = "disabled" -%}
                {%- set reject_state = "disabled btn-danger" -%}
            {%- endif -%}
        {%- else -%}
            {%- set accept_state = "" -%}
            {%- set reject_state = "" -%}
        {%- endif -%}
    {%- else -%}
        {%- if state == 'accepted' -%}
            {%- set accept_state = "hide" -%}
            {%- if caction == "remove" or caction == "reject" -%}
                {%- set reject_state = "disabled btn-danger" -%}
            {% else %}
                {%- set reject_state = "" -%}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    <span class="pull-right" id="curate_{{recid}}_{{ucoll_id}}{{'_rm' if type == 'remove' else ''}}">
        <span class="loader"><img src="{{ url_for('static', filename='css/images/ajax-loader.gif' ) }}" /></span>
        <span class="ajaxmsg hide muted"></span>
        {% if type == 'remove' %}
        <button class="btn remove-coll-btn {{btnsize}} {{reject_state}}" {{ 'disabled' if reject_state else '' }} data-url="{{url_for('usercollection.curate')}}" data-recid="{{recid}}" data-collection="{{ucoll_id}}" data-toggle="tooltip" title="Remove this upload from the community collection"><i class="icon-remove"></i> Remove</button>
        {% else %}
        <button class="btn accept-coll-btn {{btnsize}} {{accept_state}}" {{ 'disabled' if reject_state else '' }} data-url="{{url_for('usercollection.curate')}}" data-recid="{{recid}}" data-collection="{{ucoll_id}}" data-toggle="tooltip" title="Accept the inclusion of this upload into your community collection"><i class="icon-ok"></i> Accept</button>
        <button class="btn reject-coll-btn {{btnsize}} {{reject_state}}" {{ 'disabled' if reject_state else '' }} data-url="{{url_for('usercollection.curate')}}" data-recid="{{recid}}" data-collection="{{ucoll_id}}" data-toggle="tooltip" title="Reject the inclusion of this upload into your community collection"><i class="icon-remove"></i> Reject</button>
        {% endif %}
    </span>
{% endmacro %}
