A new upload requests to be added to your community ({{usercollection.title.decode('utf8')}}):

URL: {{config.CFG_SITE_URL}}/record/{{record.recid}}
Submitter: {{record.owner.username}} ({{record.owner.email.decode('utf8')}})
Title: {{record.title.decode('utf8')}}
Description: {{record.description.decode('utf8')|striptags}}

Please go to above URL and either accept or reject the upload for inclusion in your community collection.

A full list of pending requests is available at:
{{config.CFG_SITE_URL}}{{usercollection.collection_provisional_url}}