body {
  padding-top: 0px;
}

.col-pad-0 {
  padding-left: 0;
  padding-right: 0;
}

.col-pad-right-0 {
    padding-right: 0;
}

.col-pad-left-0 {
    padding-left: 0;
}

.panel-bot-margin {
    margin-bottom: 10px;
}

.jumbotron  {
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron h1 {
    font-size: 70px;
    line-height: 90px;
}

.jumbotron.page-features {
  background-color: #ffffff;
  font-weight: 100;
}

.jumbotron.page-features h1 {
  font-weight: 100;
}

.jumbotron.login-features h1 {
  font-size: 60px;
}

.jumbotron.login-features {
  font-size: 18px;
}

.marketing-bg {
    background-color: #f5f5f5;
    padding-top: 75px;
    padding-bottom: 75px;
}

#logoimg {
    padding-top: 80px;
}


.rmlink {
  color: #000;
}

.rmlink:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.iconlink {
   text-decoration: none;
}

.iconlink:hover {
   text-decoration: none;
   cursor: pointer;
}

.sortlink:hover {
   cursor: move;
}

.remove-element {
   padding-left: 10px;
}

.add-element {
   text-decoration: none;
}

.add-element:hover {
   cursor: pointer;
   text-decoration: none;
}


.field-list-element .inline > li {
  padding-left: 0;
  padding-right: 10px;
}

.field-list-element .inline {
  margin-bottom: 10px;
}

.field-list-element .inline input {
  margin-bottom: 5px;
}

.field-list-element li > input {
  vertical-align: top;
}

.field-list-element > input {
  margin-bottom: 10px;
}

.jumbotron {
  font-weight: 300;
}

#upload {
  background-color: #fff;
}

#upload.jumbotron {
  padding-top: 0px;

}

#upload {
  font-size: 17.5px;
}

#upload small {
  font-size: 12px;
}

.jumbotron h1 {
  font-weight: 500;
}

#upload .row-fluid {
  margin-top: 40px;
}

#pickfiles {
  font-weight: 200;
}

#upload #local {
  line-height: 15px;
}

#upload #or, #upload #dropbox, #upload #local {
  text-align: center;
}

#upload #or {
}

#upload #dropbox {
}

#upload div.row.text-center {
  margin-top: 25px;
  margin-left: 20px;
}

.dropbox-dropin-btn {
  height: inherit!important;
}

.headerbg {
  background-image: url('../img/header.png');
  background-repeat:
  no-repeat;
}

#footer > .container {
  padding-top: 60px;
}

header {
  background-color: #0067c9;
  margin-bottom: 20px;
}

header .container .row {
  height: 200px;
}

header .container .nav {
  margin-bottom: 0;
}

header .container .nav .dropdown-menu {
  margin-top: 0;
}

header .container .nav .dropdown-toggle b {
  color: white;
  border-top-color: #fff;
  border-bottom-color: #fff;
}

header .container .nav a, footer a {
  color: #ffffff;
}

header .container {
  padding-left: 0;
  padding-right: 0
}

footer a:hover {
  color: #bbbbbb;
}

header .container .nav a:hover {
  color: #000000;
}

header .container .nav .open a.dropdown-toggle {
  color: #fff;
}

header .container .nav .active a {
  color: #000000;
}

header .container .nav .active a:hover {
  color: #fff;
}

header .container .nav .open a :hover{
  color: #fff;
}

header .container .nav li {
  margin-right: 5px;
}

header .container .nav li .form-group {
  padding: 0 2px;
}

header .container .btn .caret, header .container .open .btn .caret{
  color: #000;
  border-top-color: #000;
  border-bottom-color: #000;
}

header .container .open .btn.dropdown-toggle {
    color: #000;
}

.pager.view-record {
  margin-top: 0;
}

.nav-tabs .open .dropdown-toggle {
    background-color: #c5c5c5;
}

.focuson li {
  margin-left: 5px;
  margin-bottom: 20px;
}

.focuson a {
  font-size: 17.5px;
  font-weight: 300;
}

.muted_a a {
  color: #000;
}

.muted_a a:hover {
  color: #444;
  text-decoration: none;
}

.pager li > a.btn-info {
    background-color: #49afcd;
}

.pager li > a.btn-info:hover {
    background-color: #1f6377;
}

.dep-accord .panel-body {
    padding: 0 0 !important;
}

.dep-accord .panel-heading.info {
    background-color: #d9edf7 !important;
}

.dep-accord .panel-heading.info a {
    color: #000000 !important;
}

.hide-on-collapsed {
  display: block;
}

.show-on-collapsed {
  display: none;
}

.panel-toggle.collapsed .hide-on-collapsed {
  display: none;
}

.panel-toggle.collapsed .show-on-collapsed {
  display: block;
}

/* Search form */
#search-label {
  font-size: 14px;
}

.label-inverse {
  background-color: #000000;
}

.label-inverse:hover {
  background-color: #666666;
}

dd {
  padding-left: 10px;
}

dd .label {
   padding: .1em .3em .1em;
   font-size: 80%;
}

.label-success {
  background-color: #356635;
}

.label-info {
  background-color: #3a87ad;
}

h4.media-heading {
  margin-top: 8px;
}

label {
  font-weight: normal;
}

.list-group-item.active a {
   color: #ffffff;
}

/* -------------- */

/*
to make "add to search" form look consistent
in much shrinked window

values copied from bootstrap ones for higher than xs size counterparts -> to be unified using "less"
*/

.navbar-collapse {
  border-top: none;
}

.navbar-collapse .navbar-nav.navbar-left:first-child {
  margin-left: -15px;
}

.navbar-form {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
}

/* ------------ */

.navbar-row {
  width: 100%;
  margin: inherit;
}

.navbar-row .navbar-row-container {
  /* same colour as navbar border*/
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-collapse {
  max-height: none;
}

/*
  somehow original bootstrap's -4px doesn't look good
  and results in thick (double) borders around buttons
*/
.input-group-btn > .btn + .btn,
.input-group-btn > .btn {
  margin-left: -5px;
}

/*
  too keep searchbar with buttons in one line
*/
@media (min-width: 768px) { /* ld size */
   #searchform-input-group {
     width: 670px;
   }
}

@media (min-width: 992px) { /* md size */
   #searchform-input-group {
     width: 710px;
   }
}

@media (min-width: 1200px) { /* ld size */
   #searchform-input-group {
     width: 920px;
   }
}

/*
  showing dropdown stil as dropdown
  on shrinked window
*/
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    margin-top: 2px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
  }
}

/*
----------------------- Stick footer ----------------------- */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -220px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 220px;
}

#push {
  margin-top: 60px;
}

#footer {
  background-color: #0067c9;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* --------------- */

.navbar {
  margin-bottom: 0;
}

.affix {
  top: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

footer .partners > a {
  margin-left: 10px;
}

header, footer {
  color: #fff;
}

header .nav .dropdown-menu a{
  color: #000;
}

h1, h2, h3 {
  font-weight: 100;
}

.media a.pull-left {
  text-align: center;
}

.searchbox {
  margin-top: 20px;
}

.signup {
  margin-left: 20px;
}

.gradient {
    /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Opera */
  background-image: -o-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, left top, 0, left top, 994, color-stop(0, #0047A8), color-stop(1, #2BBCFF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-corner at left top, #0047A8 0%, #2BBCFF 100%);
}

.panel-heading .caret {
  margin-top: 8px;
  margin-left: 5px;
}

.panel {
  margin-bottom: 2px;
}


.collapse .panel-toggle .icon-caret-left {
    display: inline;
}

.collapse .in .panel-toggle .icon-caret-left {
    display: none;
}

.collapse .panel-toggle .icon-caret-down {
    display: none;
}

.collapse .in .panel-toggle .icon-caret-down {
    display: inline;
}


.metadata dt {
  font-weight: bold;
}

.metadata .label a {
  color: #fff;
}

.tablink img {
  display: none;
}

.loader, .state-success, .state-failure, .state-danger {
    margin-right: 10px;
}

.loader img, .state-success, .state-failure, .state-danger {
    display: none;
}

.loading img {
  display: inline;
}

.loader .loading img {
    display: inline;
}

/* =================== INVENIO templates =================*/
#search-box-main {
    margin-bottom: 20px;
}

.websearch .col-md-4 {
  padding-right: 0;
}

.websearch .nav li {
  margin-bottom: 5px;
}

.websearch .nav > li > ul > li {
  float: left;
}

.websearch .nav > li > a {
  white-space: nowrap;
  padding: 0;
}

.websearch .nav > li > a:hover {
  background-color: inherit;
}

.websearch ul.nav > li > ul {
  clear: both;
}
.websearch ul.nav > li > ul > li {
  display: inline;
}
.websearch ul.nav > li > ul > li > a {
  display: inline;
}

.websearch .badge {
  font-size: 80%;
}

.collection ul.nav-list {
  padding-left: 0px;
}

.collection ul.nav-list ul.nav-list {
  font-size: 90%;
}

.collection ul.nav-list a {
  display: inline;
}

.collection ul ul li a {
  color: #333;
  opacity: 0.8;
}

.collection .badge {
  opacity:0.6;
  font-size:80%;
}

.collection ul ul .badge {
  color: #333;
  background-color: #EEE;
  border: 1px solid #999;
}


/* webcomments_index.html */
.comments .collapsed i.icon-chevron-down {
    background-position: -456px -72px!important;
}

.comments hr { margin: 0px;}


.altmetric-embed {
    padding-left: 20px;
}

.well .altmetric-popover-content {
    background-color: transparent!important;
}

#_altmetric_popover_inner {
    width: auto!important;
}

.field-desc {
    margin-top: 10px;
    clear: both;
}

#description {
    height: 110px;
}

.tt-dropdown-menu {
    z-index:1000;
}

.form-tag {
    padding: 5px;
    font-size: 110%;
    font-weight: 100;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #d9edf7;
}

.form-tag .close {
    margin-left: 5px;
    height: 15px;
}



.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-corner-all {
      overflow: hidden!important;
      text-overflow: ellipsis!important;
}

.ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.tag-values {
    margin-left: 0;
}

.tag {
    padding: 2px 35px 2px 7px;
    margin-bottom: 5px;
    cursor: move;
}

.help-inline {
    margin-top: 5px;
}

.upload-type {
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload-type li:hover {
    color: #0088cc;
}

.upload-type li:hover {
    color: #0088cc;
}

.features-page p {
    line-height: 28px;
    margin-bottom: 50px;
}

fieldset label i {
    margin-right: 5px;
    margin-top: 5px;
}

.record-list-elem .pager {
    margin-left: 5px;
}

.empty-element {
   display: none;
}

/* Adjust for phones */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    #logoimg {
        padding-left: 20px;
    }

    .phone-margin {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      margin: 0 auto -350px;
    }

    /* Set the fixed height of the footer here */
    #push,
    #footer {
      height: 350px;
    }
}


/* GitHub View Styles */

div .extra-small {
  font-size: 50%;
  cursor: pointer;
}

div .extra-small:hover {
  color: red;
}

h4.repo {
}

.doi-toggle {
  margin: 10px 0;
  text-align: right;
}

i.hook-status {
  color: green;
  padding-left: 10px;
}

i.hook-status.fa-exclamation {
  color: red;
}

i.error {
  color: red;
}

i.fa-ellipsis-h {
  cursor: pointer;
  padding-left: 4px;
  vertical-align: bottom;
}

div.repo-info {
  padding-top: 20px;
}

.badge-modal h3 {
  margin-top: 0;
}

span.get-badge {
  cursor: pointer;
}