{% from "_formhelpers.html" import render_filter_form with context %}
{% from "websearch_helpers.html" import collection_tree, portalbox_sidebar, search_also, search_form  with context %}
{% extends "page.html" %}

{% set title = None %}

{%- set portalboxes = dict() -%}
{%- for k,l in collection.portalboxes_ln|groupby('position') -%}
  {%- do portalboxes.update({k:l}) -%}
{%- endfor -%}


{% block title %}{{ portalboxes.tp }}{{ super() }}{{ portalboxes.te }}{% endblock %}



{% macro collection_records(collection) %}

{{ search_form(collection) }}

{% if collection.id != 1%}
<div class="row">
    <div class="span12">
        <h1>{{collection.name_ln}}</h1>
    </div>
</div>
{% endif %}
<div class="row websearch clearfix">
  <div class="span8">
    <div class="container">
    {% if collection.collection_children_r %}
        <div class="row">
            <div class="span8 collection clearfix">
                <h4>{{ _("Subcollections:") }}</h4>
                {{ collection_tree(collection.collection_children_r, limit=2, class="nav nav-list clearfix") }}
            </div>
        </div>
    {% endif %}
{% if collection.name.startswith('provisional-') %}

{% endif %}
      {% if collection.is_restricted %}
      <div class="row">
        <div class="offset1 span6">
            <div class="alert alert-info" style="margin-top: 50px">
                <strong><i class="icon-ban-circle"></i> {{ _('This collection is restricted. If you are authorized to access it, please click on the Search button.') }}</strong>
            </div>
        </div>
      </div>
      {% else %}
        {% if collection.reclist %}
        <div class="row">
            <div class="span4"><h2>Recent</h2></div>
        </div>
        {% for recid in collection.reclist[-10:]|reverse %}
          <div class="row">
            <div class="span8 record-list-elem">
                <ul class="pager pull-right"><li><a href="{{ url_for('record.metadata', recid=recid, ln=g.ln) }}">{{ _('View')}}</a></li></ul>
                {{ format_record(recid, 'hb', ln=g.ln)|safe }}
                {% if not loop.last %}<hr />{% endif %}
            </div>
          </div>
        {% endfor %}
        {% if collection.reclist|length > 10 %}
        <div class="row">
            <div class="span8">
                <ul class="pager">
                <li><a href="{{ url_for('search.search', cc=collection.name, jrec=11)|safe }}">{{ _('View all')}}  &rarr;</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            <div class="span8" align="center" style="margin-top: 40px;">
                <em class="muted">This collection is currently empty.</em>
            </div>
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="span4">
      {# portalboxes left top is not supported #}
      {{ portalbox_sidebar(portalboxes.rt, class="well") }}
      {% if collection.id == 1%}
      <div class="well">
        <a href="{{url_for('youraccount.register')}}" class="btn btn-warning btn-large signup pull-right">Sign Up</a>
        <h4>New to {{config.CFG_SITE_NAME}}?</h4>
        {% include "zenodo_benefits.html" %}
      </div>
      {% endif %}
  </div>
</div>

{#


<p>
                  <a href="{{ url_for('record.metadata', recid=recid, ln=g.ln) }}">
                    {{ _("View") }}
                  </a>
                   -
                  <a href="{{ url_for('.search', p="recid:%d" % recid, rm='wrd', ln=ln) }}">
                    {{ _("Similar records") }}
                  </a>
</p>

{% if collection.collection_children_r %}
      <div class="span{{ '4' if collection.collection_children_v else '8' }} collection clearfix">
      <h4>{{ _("Narrow by collections") }}</h4>
        {{ collection_tree(collection.collection_children_r, limit=2, class="nav nav-list clearfix") }}
      </div>
  {% else %}
      <div class="span{{ '4' if collection.collection_children_v else '8' }}">
      </div>
  {% endif %}


  {{ portalbox_sidebar(portalboxes.lt, class="span2") }}

    {% if collection.collection_children_v %}
    <div class="span4 collection clearfix">
      <h4>{{ _("Focus on") }}</h4>
      {{ collection_tree(collection.collection_children_v, limit=2, class="nav nav-list clearfix") }}

      {{ search_also(collection.externalcollections_2) }}
    </div>
  {% elif collection.externalcollections_2 %}
      <div class="span2">
        {{ search_also(collection.externalcollections_2) }}
      </div>
  {% endif %}



  #}
{% endmacro %}



{% block body %}
  {% if collection.is_restricted %}
    {{ collection_records(collection) }}
  {% else %}
    {% zenodocache 24*60*60, collection.name, g.ln %}
    {{ collection_records(collection) }}
    {% endcache %}
  {% endif %}
{% endblock %}



{% block javascript %}
  <script>
  (function($) {
    $('[rel=tooltip]').tooltip();
  })(jQuery);
  </script>
{% endblock javascript %}