<openaire-subtype>
  <div ng-if="show()" class="form-group schema-form-select">
    <label class="control-label col-sm-3" ng-show="showTitle()">
    <i ng-if="form.fa_cls" class="fa fa-fw {{ form.fa_cls }}"></i>{{form.title}}
    </label>
    <div class="col-sm-9">
      <select
        class="form-control"
        ng-model="model.openaire_type"
        ng-options="item.id as item.name group by item.commName for item in (getOptions()|stable:openaireTypeOptions)">
      </select>
    </div>
  </div>
</openaire-subtype>
