<div class="row record-elem" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
  <div class="col-xs-12">
    <div class="pull-right view-record hidden-xs">
      <a href="{{record.links.self}}" class="btn btn-default">View</a>
    </div>
    <span class="label label-info" data-toggle="tooltip" title="Publication date">{{ record.metadata.publication_date }}</span>
    <h4><a href="/record/{{record.metadata.recid}}">{{record.metadata.title}}</a></h4>
    <p><ul class="list-inline">
      <div ng-repeat='author in record.metadata.authors'>
        <li>{{ author.name }}</li>
      </div>
    </ul></p>
    <p><a href="/record/{{record.metadata.recid}}">{{ record.metadata.description }}</a></p>
      <small class="text-muted">
        Uploaded on {{record.metadata.creation_date}}
      </small>
  </div>
</div>
<hr />
