{%- if record.doi %}
  {%- if record.conceptdoi and "doi" in record and (record.doi|doi_locally_managed) %}
  {%- set pid_versioning = pid | to_versioning_api -%}
  {%- set all_versions = pid_versioning.children | reverse | list %}
  {%- set pid_version_index = all_versions.index(pid) %}
  <div class="well metadata">
    <h4>{{_('Versions')}}</h4>
    <table class="table">
    {%- for pid_version in all_versions[:5]  %}
      <tr {% if pid_version_index == loop.index - 1 %}class="info"{% endif %}>
        <td>
          <a href="{{ url_for('invenio_records_ui.recid', pid_value=pid_version.pid_value) }}">Version {{ loop.revindex }}</a>
          <small class="text-muted">10.5281/zenodo.{{pid_version.pid_value}}</small>
        </td>
        <td align="right"><small class="text-muted">{{pid.created|dateformat(format='medium')}}</small></td>
      </tr>
    {%- endfor %}
    {% if pid_version_index >= 5 %}
    {%- set current_pid = all_versions[pid_version_index] %}
    <tr><td colspan="3" align="center">...</tr>
    <tr class="info">
      <td>
        <a href="{{ url_for('invenio_records_ui.recid', pid_value=current_pid.pid_value) }}">Version </a>
        <small class="text-muted">10.5281/zenodo.{{current_pid.pid_value}}</small>
      </td>
      <td align="right"><small class="text-muted">{{current_pid.created|dateformat(format='medium')}}</small></td>
    </tr>
    {% endif %}
    {% if all_versions|length > 5 %}
    <tr><td colspan="3" align="center"><a href=""><small>View all {{all_versions|length}} versions</small></a></tr>
    {% endif %}
    </table>
    <small>
      <strong>Cite all versions?</strong> You can cite all versions by using the DOI <a href="https://doi.org/10.5281/zenodo.{{pid_versioning.parent.pid_value}}">10.5281/zenodo.{{pid_versioning.parent.pid_value}}</a>. The DOI represents all versions and always resolve to the latest available version. <a href="">Read more</a>.
    </small>


  </div>
  {%- endif %}
{%- endif %}
