.deposit-actions {
    padding: 10px 15px;

    ul.list-inline {
        margin: 0;

        li {
            padding-right: 0;
        }
    }
}

.deposit-panel.dragover {
    border-color: darken(#f00, 20%);
}

.deposit-panel {
    margin-bottom: 2px;

    .jumbotron {
        background-color: transparent;
    }

    .file-upload {
        .list-group-item {
            border: 0;
        }
        .jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;

            h4 {
                margin-top: 20px;
                margin-bottom: 5px;
            }

            h1, h2 {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .rmlink {
            cursor: pointer !important;
        }
    }

    .active {
        font-weight: bold;
        .glyphicon {
            color: $brand-success;
        }
    }

    .field-required:after {
        content: " *";
        color: red;
    }

    .has-feedback .form-control-feedback {
        right: 30px;
    }

    .help-block {
        font-size: 0.9em;
    }

    .panel-heading {
        cursor: pointer;

        .fieldset-hint {
            padding-right: 10px;
        }

        a {
            text-decoration: none;
        }
    }

    .panel {
      margin-bottom: 10px;
    }


    .schema-form-datepicker {
        input {
            background-color: white;
        }
    }


    .cke {
        border: 0;
        box-shadow: none;

        .cke_inner {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            padding: 1px;
        }
    }


    .schema-form-uiselect {

        .form-group {
            margin-left: 0;

        }
        .caret {
            display: none;
        }

        input.ui-select-search {
            width: 100% !important;
        }

        .ui-select-placeholder, .ui-select-match-text {
          width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
        }
    }


    .close-container.clear-form {
        height: 30px;
    }


    .schema-form-array {
        ol {
            margin-left: 0;
            padding-left: 0;
            list-style: none;

            li {
                padding-top: 5px;
            }
        }
    }

    .deposit-inline {
        padding-bottom: 0;
        margin-bottom: -10px;
        padding-top: 15px;

        .sort-handle {
            cursor: move;
            margin-right: 10px;
        }

        .schema-form-section {
            display: flex;
            flex-direction: row;

            sf-decorator {
                flex: auto;

                & > div {
                    margin-right: 0;
                    margin-top: -5px;
                }
            }
        }
    }

    a.add-button {
        text-decoration: none;
        cursor: pointer;
    }

    .resource-type-field {
        li {
            padding-left: 20px;
            padding-right: 20px;

            label:hover {
                color: $brand-primary;
            }
        }

        span {
          font-weight: normal;
        }
    }
}

