.features-page {

  p, h1, h2 {
    text-rendering: optimizeLegibility;
  }

  h1, h2{
    font-weight: 100;
  }
  h4{
    font-weight: 700;
  }
  .jumbotron{
    background-color: transparent;
    padding-bottom: 0px;
  }
  .introducing p {
    line-height: 28px;
  }
  .marketing-bg {
    background-color: $color6;
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .jumbotron h1 {
    font-size: 70px;
    line-height: 90px;
  }
  .row{
    margin-bottom: 50px;
  }

  .features {
    .jumbotron h1 {
      font-size: 3em;
    }

    .container-fluid:nth-child(odd) {
      background-color: $color6;
      text-align: left;
    }

    .container-fluid:nth-child(even) {
      text-align: right;
    }

    .centered {
      height: 100%;
      text-align: center;

      img {
        padding: 15px;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
