#invenio-search {
    .pagination-sm {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .no-margin-top {
        margin-top: 0px;
    }
    .titlecase {
        text-transform: capitalize;
    }

    a.version-toggle {
        text-decoration: none;

        &.active {
            font-weight: bold;

            i.fa {
                color: #5cb85c;
            }
        }
    }

    .year-facet {
        border: 1px $bg-gray solid;
        padding-bottom: 10px;
        border-radius: 3px;

        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .year-facet-title {
        font-size: 16px;
    }

    .year-facet-graph {
        padding-top: 10px;
        text-align: center;
    }

}

