.jumbotron  {
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron h1 {
    font-size: 70px;
    line-height: 90px;
}

.marketing-bg {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}

#logoimg {
    padding-top: 80px;
}


.rmlink {
  color: #000;
}
.rmlink:hover {
  color: #666;
  text-decoration: none;
}

.hero-unit {
  font-weight: 300;
}

#upload {
  background-color: #fff;
}

.hero-unit h1 {
  font-weight: 500;
}

#upload .row-fluid {
  margin-top: 40px;
}

#upload #or, #upload #dropbox, #upload #local {
  text-align: center;
}

#upload #or {
  padding-top: 10px;
}

#upload #dropbox {
  padding-top: 10px;
}

.headerbg {
  background-image: url('../img/header.png');
  background-repeat:
  no-repeat;
}

#footer > .container {
  padding-top: 60px;
}

header {
  background-color: #0067c9;
}

header .container .row {
  height: 200px;
}

header .container .nav {
  margin-bottom: 0;
}

header .container .nav a, footer a {
  color: #ffffff;
}

footer a:hover {
  color: #bbbbbb;
}

header .container .nav a:hover {
  color: #000000;
}

header .container .nav .active a {
  color: #000000;
}

header .container .nav .active a:hover {
  color: #000000;
}

header .container .nav li {
  margin-right: 5px;
}

.focuson li {
  margin-left: 5px;
  margin-bottom: 20px;
}

.focuson a {
  font-size: 17.5px;
  font-weight: 300;
}

.muted_a a {
  color: #000;
}

.muted_a a:hover {
  color: #444;
  text-decoration: none;
}

/*
----------------------- Stick footer ----------------------- */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -220px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 220px;
}

#push {
  margin-top: 60px;
}

#footer {
  background-color: #0067c9;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* --------------- */

.navbar {
  margin-bottom: 0;
}

.affix {
  top: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer .partners > a {
  margin-left: 10px;
}

header, footer {
  color: #fff;
}

header .nav .dropdown-menu a{
  color: #000;
}

h1, h2, h3 {
  font-weight: 100;
}

.media a.pull-left {
  text-align: center;
}

.searchbox {
  margin-top: 20px;
}

.signup {
  margin-left: 20px;
}

.gradient {
    /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Opera */
  background-image: -o-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, left top, 0, left top, 994, color-stop(0, #0047A8), color-stop(1, #2BBCFF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-corner at left top, #0047A8 0%, #2BBCFF 100%);
}

.accordion-heading .caret {
  margin-top: 8px;
  margin-left: 5px;
}



.metadata dt {
  font-weight: bold;
}

.metadata .label a {
  color: #fff;
}

.tablink img {
  display: none;
}

.loader {
    margin-right: 10px;
}

.loader img {
    display: none;
}

.loading img {
  display: inline;
}

.loader .loading img {
    display: inline;
}

/* =================== INVENIO templates =================*/
.websearch .nav > li > ul > li {
  float: left;
}
.websearch .nav > li > a {
  white-space: nowrap;
}
.websearch .nav > li > a:hover {
  background-color: inherit;
}
.websearch ul.nav > li > ul {
  clear: both;
}
.websearch ul.nav > li > ul > li {
  display: inline;
}
.websearch ul.nav > li > ul > li > a {
  display: inline;
}
.websearch .badge {
  font-size: 80%;
}

.collection ul.nav-list {
  padding-left: 0px;
}

.collection ul.nav-list ul.nav-list {
  font-size: 90%;
}

.collection ul ul li a {
  color: #333;
  opacity: 0.8;
}

.collection .badge {
  opacity:0.6;
  font-size:80%;
}

.collection ul ul .badge {
  color: #333;
  background-color: #EEE;
  border: 1px solid #999;
}


/* webcomments_index.html */
.comments .collapsed i.icon-chevron-down {
    background-position: -456px -72px!important;
}

.comments hr { margin: 0px;}


.altmetric-embed {
    padding-left: 20px;
}

.well .altmetric-popover-content {
    background-color: transparent!important;
}

#_altmetric_popover_inner {
    width: auto!important;
}

.field-desc {
    margin-top: 10px;
}

#description, #keywords, #creators, #related_identifiers {
    height: 110px;
}

.tt-dropdown-menu {
    z-index:1000;
}

.in {
    overflow: visible;
}

.form-tag {
    padding: 5px;
    font-size: 110%;
    font-weight: 100;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #d9edf7;
}

.form-tag .close {
    margin-left: 5px;
    height: 15px;
}



.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-corner-all {
      overflow: hidden!important;
      text-overflow: ellipsis!important;
}

.ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.tag-values {
    margin-left: 0;
}

.tag {
    padding: 2px 35px 2px 7px;
    margin-bottom: 5px;
    cursor: move;
}

.help-inline {
    margin-top: 5px;
}

.upload-type {
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload-type li:hover {
    color: #0088cc;
}

.upload-type li:hover {
    color: #0088cc;
}

/* Adjust for phones */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    #logoimg {
        padding-left: 20px;
    }

    .phone-margin {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      margin: 0 auto -350px;
    }

    /* Set the fixed height of the footer here */
    #push,
    #footer {
      height: 350px;
    }
}