.headerbg {
  background-image: url('../img/header.png'); 
  background-repeat: 
  no-repeat;
}

#footer > .container {
  padding-top: 60px;
}

header {
  background-color: #0067c9;
}

header .container .row {
  height: 200px;
}

header .container .nav {
  margin-bottom: 0;
}

header .container .nav a, footer a {
  color: #ffffff;
}

footer a:hover {
  color: #bbbbbb;
}

header .container .nav a:hover {
  color: #000000;
}

header .container .nav .active a {
  color: #000000;
}

header .container .nav .active a:hover {
  color: #000000;
}

header .container .nav li {
  margin-right: 5px;
}

.focuson li {
  margin-left: 5px;
  margin-bottom: 20px;
}

.focuson a {
  font-size: 17.5px;
  font-weight: 300;
}

/*  
rsync -av . openaire-dev:/opt/invenio/var/www/zenodo/
----------------------- Stick footer ----------------------- */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -220px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 220px;
}

#push {
  margin-top: 60px;
}

#footer {
  background-color: #0067c9;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* --------------- */

.navbar { 
  margin-bottom: 0;
}

.affix {
  top: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
}

footer .partners > a {
  margin-left: 10px;
}

header, footer {
  color: #fff;
}

header .nav .dropdown-menu a{
  color: #000;
}

h1, h2, h3 {
  font-weight: 100; 
}

.media a.pull-left {
  text-align: center;
}

.searchbox {
  margin-top: 20px;
}

.signup {
  margin-left: 20px;
}

.gradient {
    /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, left top, 0, left top, 994, color-stop(0, #0047A8), color-stop(1, #2BBCFF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(left top, circle farthest-corner, #0047A8 0%, #2BBCFF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: radial-gradient(circle farthest-corner at left top, #0047A8 0%, #2BBCFF 100%);
}

.accordion-heading .caret {
  margin-top: 8px;
  margin-left: 5px;
}


/* ============ LEGACY ============ */
img {
    border-style: none;
}

div.OpenAIRE div.metadata {
    height: 100%;
    float: left;
    border-style : none none none solid;
    border-width : medium medium medium 2em;
    border-left-color : #FFC0C0;
    padding-left : 2em;
  }

div.OpenAIRE fieldset {
    margin: 2px;
}

div.OpenAIRE div.header div {
    float: left;
  }


div.OpenAIRE div.file {
    word-wrap: break-word;
  }


div.clear {
    float: none;
    clear: both;
  }


.mandatory:after {
    content: url("/img/asterisk.png");
  }


div.OpenAIRE div.error {
    background : #FFC0C0 url('/img/iconcross.gif') no-repeat center left;
    font : inherit bolder medium sans-serif;
    padding : 4px 4px 4px 20px;
    border : #ff0000;
    -moz-border-radius : 4px;
    border-radius : 4px;
  }


div.OpenAIRE div.warning {
    background : #FFFFC0 url('/img/warning.png') no-repeat center left;
    font : bolder inherit sans-serif;
    padding : 4px 4px 4px 20px;
    border : #ffff00;
    border-radius : 4px;
  }

div.OpenAIRE tr td.error {
    background : #FFC0C0 url('/img/iconcross.gif') no-repeat center center;
    font : inherit bolder medium sans-serif;
    padding : 4px 4px 4px 20px;
    border : #ff0000;
    -moz-border-radius : 4px;
    border-radius : 4px;
  }


div.OpenAIRE tr td.warning {
  background : #FFFFC0 url('/img/warning.png') no-repeat center center;
  font : bolder inherit sans-serif;
  padding : 4px 4px 4px 20px;
  border : #ffff00;
  border-radius : 4px;
  }


div.OpenAIRE tr td.empty{
    background : #FFFFC0 url('/img/wb-notes.png') no-repeat center center;
    font : bolder inherit sans-serif;
    padding : 4px 4px 4px 20px;
    border : #ffff00;
    border-radius : 4px;
    vertical-align: bottom; 
    cursor: pointer;
  }

div.OpenAIRE tr td.ok {
  background : #C0FFC0 url('/img/okay.gif') no-repeat center center;
  font : bolder inherit sans-serif;
  padding : 4px 4px 4px 20px;
  border : #ffff00;
  border-radius : 4px;
  }


div.OpenAIRE label {
    font-style: italic;
    font-weight: bolder;
  }


div.OpenAIRE .ok {
    background : #C0FFC0;
    font : bolder inherit sans-serif;
    padding : 4px;
    border : #00c000;
    -moz-border-radius : 4px;
    border-radius : 4px;
  }


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
  }


span.tooltip {
    border-bottom: 1px dotted;
    cursor: pointer;
  }


.publication_information, .selectedproject, div.file {
    display: inline;
    border-bottom: 1px dotted;
    cursor: pointer;
  }


select:focus, input[type="text"]:focus, textarea:focus {
    background: #FFFF99;
  }

.status_msg {
    font-size: 11px;
}