{% macro copy_to_clipboard(clipboard_target="clipboard_text") %}{% block copy_to_clipboard scoped %}
<button data-clipboard-target="{{clipboard_target}}" class="btn btn-default btn-xs clip-button"><i class="fa fa-copy" title="Copy to clipboard"></i> Copy</button>
{% endblock %}{% endmacro %}

{% macro copy_to_clipboard_js() %}{% block copy_to_clipboard_js scoped %}
require(["jquery", "vendors/zeroclipboard/dist/ZeroClipboard"], function($, zeroclipboard){
    zeroclipboard.config({swfPath: "{{url_for('static', filename='vendors/zeroclipboard/dist/ZeroClipboard.swf')}}" })
    var client = zeroclipboard();
    client.clip($('.clip-button'));
});
{% endblock %}{% endmacro %}